body{
	background: white;
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;

}

header{
	background: #524f49;
	display: flex;
	padding-left: 2%;
	height: 180px;

}

h1{
   	font-size: 2rem;
	font-family: "Agency FB", "Times New Roman", sans-serif;
	color: black;
	margin-top: 20px;

}

header img{
	width: 10%;
	height: 150px;
}
span{
	color: red;
}

.navbar{
	background: none;
	margin-left: 30%;

}

.navbar-toggler{

	margin-top: -180px;
} 


  
.navbar-nav{
    
    margin-top: -180px;
}



li{

	font-family: "Agency FB";
	font-size: 1.5em;
	background: #ae2522;
	width: 40%;
	padding-left: 6%;
	padding-right: 8%;
	margin-right: 10px;
	border: 1px solid #ae2522;
	border-radius: 5px;

}

li:hover{
	background: grey;
	border: 1px solid grey;
}

.active{
	background: grey;
	border: 1px solid grey;
}


#section1{
	width: 20%;
	display: inline-block;
	float: left;
	margin-top: 40px;
	background: #d3f0f9;
	
}

#section1 img{
	width: 75%;
	border: 3px solid #00BCD4;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-left: 35px;
}

#section1 h2{
	color: blue;
    font-family: "Agency FB","Comic Sans MS","Times New Roman",sans-serif;
	font-size: 1.5rem; 
	padding-left: 35%;
	padding-top: 3%; 

}



#section a{

	color: #ff9800;

}

#section2{
	display: inline-block;
	float: right;
	background: #fbecd3c7;
	width: 75%;
	margin-top: 15px;
	font-family: "Agency FB","Comic Sans MS","Times New Roman",sans-serif;
	font-size: 110%;
	padding-top: 50px;
}

#section2 p{
	
      font-family: "Comic Sans MS", "Times New Roman", sans-serif;
      font-size: 90%;
      color: black;
      padding: 0% 4%;
      text-align: justify-all;
      line-height: 30px;
}

#section2 h2{
    font-size: 130%;
	color: blue;
	font-family: "Agency FB","Comic Sans MS","Times New Roman", sans-serif;
    padding-left: 5%;
	
}

#section2 h2:nth-of-type(1){
    font-size: 142%;
    font-weight: bold;
}


#section2 img{
	padding-left: 5%;
}

#section2 a{
	padding-left: 4%;
}

#section3{

	clear: both;
}

#icone{
	margin-left: 60%;
}

video{
	width: 30%;
	margin-left: 25%;
}

@media screen and (max-width:994px)
{
    
    header{
	
	height: 140px;
	
	}

    li{
    	width: 100%;
    	border-radius: unset;
    	padding-left: 1%;
    	background: #ae2522;
    	border-bottom: 1px solid white;
    	font-size: 1.1rem;

    }

    li:nth-of-type(4){
    	border-bottom: none;
    }
 
    header img{
      width: 20%;
      height: 120px;
    }

    h1{
    	font-size: 1.2rem;
	   font-family: "Agency FB", "Times New Roman", sans-serif;
	   margin-top: 40px;
	   font-weight: bold;


    }
   
    .navbar-nav{
    	margin-top: -70px;
    	padding-left: 1px;
    }

   .navbar{
   	  	margin-left: 0%;
   	  	padding-left: 0px;
   }
   
   #section1{
		background: lightblue;
		border: 1px 0px solid green;
		width: 100%;
		height: 300px;
		margin-top: 20px;
    }

    #section1 img{
	 display: none;
    }

    #section1 h2{
    	visibility: hidden;
    }

    #section1 h2:after{
    	content: "Disciplines";
    	font-family: "Agency FB","Comic Sans MS","Times New Roman",sans-serif;
    	font-size: 2.1rem;
    	color: white;
    	visibility: visible;
    	display: block;
    	float: left;
        padding-left: 1%;
	    padding-top: 40%;
	    text-decoration: underline;


    }
	

	#section1{

		background: url('inline-4039073_1920.jpg');
		background-size: 100%;
		background-repeat: no-repeat;
		display: block;

	}

	h3{
		background: none;
	}

	#section2{

		background: none;
		width: 100%;
		margin-top: 10px;
		display: block;
		padding-top: 1px;

	}

	#section2 h2{
	   font-size: 130%;
	   color: blue;
	   font-family: "Agency FB","Comic Sans MS","Times New Roman", sans-serif;
       padding-left: 4%;
    }

    #section2 h2:nth-of-type(1){
    font-size: 130%;
    font-weight: bold;
    padding-left: 4%;
    text-transform: uppercase;
    }

	#section2 p{
	  font-family: "Comic Sans MS", "Times New Roman", sans-serif;
      font-size: 100%;
      color: black;
      padding: 0% 4%;
      text-align: justify-all;
      line-height: 30px;
     
	}

	#section2 a{
		padding-left: 4%;
	}

}
  
